<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Title page</TITLE>

   </HEAD>
   <BODY>

   		Guess evening standard

	<table>
	  <tr>
	    <th>Title</th>
	    <th>Summary</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	 
	<% @titles.each do |title| %>
	  <tr>
	    <td><%= title.name %></td>
	    <% title.keywords.each do |keyword| %>
	    	<td><%= keyword.name%></td>
	    <% end %>
	    <td><%= link_to 'Show', title %></td>
    	<td><%= link_to 'Edit', edit_title_path(title) %></td>
    	<td><%= link_to 'Remove', title, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
      
   </BODY>
</HTML>