<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Title page</TITLE>

   </HEAD>
   <BODY>

    <br> <%= render "shared/logger" %> </br>
    <br> <%= render "shared/menu" %> </br>

    <h1> Guess evening standard </h1>

    <div>
    <% if @title.errors.any?  %>
      <%= @title.errors.messages[:name] %>
    <% end %>   
    </div>

    <div>
      <% if @today_title.nil? %>
        <%= form_for @title do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "Post" %>
        <% end %>
      <% else %>
        <%= @today_title %>
        <%= link_to "Edit", "/titles/edit" %>
      <% end %>
    </div> 

    <div>
      <h2> Need inspiration? </h2>
      <h3> Latest headlines </h3>

      <table>
        <% @title_historic.each do |p| %>
        <tr>
          <td>  <%= p.created_at.to_date %> </td>
          <td>  <%= p.name %> </td>
        </tr>
        <% end %>
       </table>

       <h3> Twitter trends </h3>

        <table>
        <% @tweet_trends.each do |p| %>
        <tr>
          <td>  <%= p %> </td>
        </tr>
        <% end %>
       </table>
        
    </div>
      
   </BODY>
</HTML>
