<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Title page</TITLE>

   </HEAD>
   <BODY>

    <%= render "shared/logger" %> 

    <h1> Guess evening standard </h1>

    <div>
    <% if @title.errors.any?  %>
      <%= @title.errors.messages[:name] %>
    <% end %>   
    </div>

    <div>
      <%= form_for @title do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "Post" %>
      <% end %>
    </div> 

    <div>
      <h2> Need inspiration? </h2>
      <br> Latest headlines </br>

      <table>
        <% @title_historic.each do |p| %>
        <tr>
          <td>  <%= p.created_at %> </td>
          <td>  <%= p.name %> </td>
        </tr>
        <% end %>
       </table>

       <br> Twitter trends </br>

        <table>
        <% @tweet_trends.each do |p| %>
        <tr>
          <td>  <%= p %> </td>
        </tr>
        <% end %>
       </table>
        
    </div>
      
   </BODY>
</HTML>
